*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide{
    display: none;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: boarder-box;
    background-color: #8fa277;
    
     
}
#Welcome-page-container{
    color: white;
    text-align: center;
    padding: 10%;
    
  }
 #cactus{
   height: 20vh;
   width: 15vw; 
   
}
button{
    padding: 10px 20px;
    background-color:white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition-delay: width 2s;
}
button:hover{
    background-color: #ecb982;
}

#header-image {
    justify-content: right;
    margin-left: 0px 0px 0px 30px;
    width: 100vw;
    height: 60vh;   
    

}
nav{
    background-color:#8fa277;
    margin:0;
    padding: 0;
    border-radius: 50px 50px 50px 50px;
    
   
}
nav:hover{ 
    opacity: .5;
}

.nav-bar{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 10%;
    cursor: pointer;

}
.nav-item{
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    
}
 .nav-item li{
    display: inline-block;
    padding: 0px 20px;

 }
 
 .nav-item li a{
    transition: all 0.3s ease 0s;
 }
 .nav-item li a:hover{
    color: pink;
 }

 #Aboutme{
    padding: 10%;
    border: box-size; 
    color: white;
 }
 #profile-picture{
    display: inline-block;
    width: 20vw;
    height: 30vh;  
    padding: auto; 
    margin-left: 200px;

 }
 .body{
    
    background-size: cover;
    height:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;

 }
 .container{
   width: 800px;
   height:600px;
   background: white;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 40px;
    

 }
 .container p{
    text-transform: uppercase;
    text-align: center;
    font-size:45px;
    margin-bottom: 20px;
    color:#654321;
    letter-spacing: 1px;



 }
 .input, .msg .area {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
   
 }
 .login .input{
    width: 48%;
    float: left;
    margin-right: 4%;

 }
 .login .input:last-child{
    margin-right: 0;
 }

.msg .area{
    height: 200px;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 1px;
    width: 225px;
    background:#8fa277;
    font-size: large;
    height: 40px;
    text-align:center;
    line-height: 50px;
    color:#654321;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 50px;
    cursor: pointer;
}
#social-links {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 50px;
    text-align: center;
}

#social-links a{
    text-decoration: none;
    margin: 0 10px;
    align-content: center;
    color:#ecb982;
}
    


/* #inkedin{
    font-size: x-large;
    padding-right: 20px; 

}
#github{
    
} */

footer{
    padding: 3%;
    background: #8fa277;
}
.my-work{
  background-color:#ecb982;
}

#Resumebtn{
    display: flex;
    justify-content: center;
    
}

.modal{
    display:none;
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.4)


}
.model-content{
    background-color:white; 
    align-items: center;
    

}
.close{
    color:#8fa277;
    float:right;
    font-size:28px;
    font-weight: bold;
}
.close:hover,.close:focus{
    color:#8fa277;
    text-decoration: none;
    cursor:pointer;
}
.future-work-container{
    display: flex;
    justify-content: center;
   padding: 70px 70px;
   color: white;

}

@media(min-width: 600px){
   
    body{
        font-size: 2rem;
    }

}
@media(min-width: 800px){
    body{
        font-size: 2rem;
        line-height: 1.5;
    }
}
#home-icon-1{
    text-decoration: none;
    color: white;
    font-size:large;
}
#home-icon-2{
    text-decoration: none;
    color: white;
    font-size:large;
}
#home-icon-3{
    text-decoration: none;
    color: white;
    font-size:large;
}