
.hide{
    display: none;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: boarder-box;
    background-color: #ecb984;
    
     
}
#Welcome-page-container{
    color: black;
    text-align: center;
    padding: 20%;

    
  }
 #cactus{
   height: 15vh;
   margin-right: 1000px;
   margin-left: 373px;
   margin-top: 50px;
   
    
   
}
button{
    padding: 10px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-delay: width 2s;
}
button:hover{
    background-color: #ecb982;
}
#Home-page-container{
    
}

#header-image {
    justify-content: right;
    margin-left: 0px 0px 0px 30px;
    width: 98.5vw;
    height: 60vh;   
    

}
nav{
    background-color: #ecb982;
    margin:0;
    padding: 0;
    border-radius: 50px 50px 50px 50px;
    
   
}
nav:hover{ 
    background-color:#fbf3ee ;
    opacity: .5;
}

.nav-bar{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
    cursor: pointer;

}
.nav-item{
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #654321
    ;



    
}
 .nav-item li{
    display: inline-block;
    padding: 0px 20px;

 }
 
 .nav-item li a{
    transition: all 0.3s ease 0s;
 }
 .nav-item li a:hover{
    color: white;
 }
 .sections{
    display: flex;
 }

 #Aboutme{
    padding: 10% ;
    border: box-size
 }
 #profile-picture{
    display: inline-block;
    width: 20vw;
    height: 30vh;  
    padding: auto; 
    margin-left: 200px;
    

 }

